{% extends 'base.html.twig' %}

{% block title %}{{recette.nom}}{% endblock %}

{% block body %}
 <link rel="stylesheet"  href="css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Indie+Flower&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Crafty+Girls&display=swap" rel="stylesheet">
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<div class="content">
    <div class="imageFond">
        <div class="titre">
            <h1>{{recette.nom}}</h1>
            <img src="{{dossier_images ~ recette.photo}}" class="photo_recette" alt="...">
        </div>
            <p>
              <ul>
                    {% set ingredients = recette.ingredients|split(";") %}
                    {% for ingredient in ingredients %}
                    <li>{{ingredient}}</li>
                    {% endfor %}
                </ul>
              {% if recette.ingredientCle.nom is defined %}
              <a href="{{ path("ingredient_cle", {nom: recette.ingredientCle.nom}) }}">{{recette.ingredientCle.nom}}</a>
              {% endif %}
            </p> <br>
            
            <br>
            <p>{{recette.description|raw}}</p>

    </div>
</div>
{% endblock %}
