{% extends 'base.html.twig' %}

{% block title %}{{recette.nom}}{% endblock %}

{% block body %}
<div class="content">
    <h1>{{recette.nom}}</h1>
    
        <div class="card" style="width: 18rem;">
            <img src="{{recette.photo}}" class="card-img-top" alt="...">
            <div class="card-body">
                <p>{{recette.ingredients}}</p>
                <br>
                <a href="{{ path("ingredient_cle", {nom: recette.ingredientCle.nom}) }}">{{recette.ingredientCle is defined ? recette.ingredientCle.nom : " Coucou " }}</a>
                <br>
                <p>{{recette.description}}</p>

            </div>
        </div>
    
</div>
{% endblock %}
