{% extends 'base.html.twig' %}

{% block title %}{{recette.nom}}{% endblock %}

{% block body %}
<div class="content">
    <h1>{{recette.nom}}</h1>
    
        <div class="card" style="width: 18rem;">
            <img src="{{recette.photo}}" class="card-img-top" alt="...">
            <div class="card-body">
                <p>{{recette.ingredients|raw}}</p>
                <br>

                {% if recette.ingredientCle.nom is defined %}
                <a href="{{ path("ingredient_cle", {nom: recette.ingredientCle.nom}) }}">{{recette.ingredientCle.nom}}</a>
                {% endif %}

                <br>
                <p>{{recette.description|raw}}</p>

            </div>
        </div>
    
</div>
{% endblock %}
