{% extends 'base.html.twig' %}

{% block title %}{{recette.nom}}{% endblock %}

{% block body %}
<div class="content">
    <div class="imageFond">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6"><h2>{{recette.nom}}</h2></div>
                <div class="col-md-6"><img src="{{dossier_images ~ recette.photo}}" class="photo_recette" alt="..."></div>
            </div>
            <div class="row justify-content-center">
                    <p> {% set ingredients = recette.ingredients|split(";") %}
                        {% for ingredient in ingredients %}
                        {{ingredient}}
                        {% endfor %}
                        {% if recette.ingredientCle.nom is defined %}
                        <a href="{{ path("ingredient_cle", {nom: recette.ingredientCle.nom}) }}">{{recette.ingredientCle.nom}}</a>
                        {% endif %}
                    </p><br><br>
                    <p>
                    {{recette.description|raw}}
                    </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
