{% extends 'base.html.twig' %}

{% block title %}Hello {{ingredientCle.nom}}{% endblock %}

{% block body %}
<div class="imageFond">
    <h2>{{ingredientCle.nom}}</h2>
    <img src="">
    <p>{{ingredientCle.description}}</p>
    <br>
    
    <p>Notre Partenaire :<br><br>{{ingredientCle.partenaire}}</p>
    <p>{{ingredientCle.partenaireDescription|raw}}<br><br>
    <button type="button" class="btn btn-secondary"><a href="">Commander</a></button>
    </p>
    <br>
   
   

</div>
{% endblock %}