{% extends 'base.html.twig' %}

{% block title %}Hello {{ingredientCle.nom}}{% endblock %}

{% block body %}
<div class="imageFond">
    <div class="container-fluid">
        <h2>{{ingredientCle.nom}}</h2>
        <p>{{ingredientCle.description}}</p><br>
        <p>Notre Partenaire :<br><br>{{ingredientCle.partenaire}}</p>
        <p>{{ingredientCle.partenaireDescription|raw}}</p><br><br>

        <div class="col-md-12 d-flex flex-column align-items-center">
            <div class="col-md-6 mt-3 d-flex flex-column align-items-center">
                {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                    <p class="m-2">Votre compte vous permet de bénéficier d'un coupon de réduction si vous passer commande via notre site.</p>
                    <a href="#" type="button" class="btn btn-secondary">Commander</a><br>
                {% else %}
                    <p  class="m-2">Vous devez vous connecter afin de pouvoir passer commande.</p>
                    <a href="#" type="button" class="btn btn-secondary disabled" aria-disabled="true">Commander</a><br>
                {% endif %}
            </div> 
        </div>
    </div>
</div>
{% endblock %}