{% extends 'base.html.twig' %}

{% block title %}Hello {{ingredientCle.nom}}{% endblock %}

{% block body %}
<div class="content">
    <h1>{{ingredientCle.nom}}</h1>
    <img src="">
    <p>{{ingredientCle.description}}</p>
    <br>
    <h2>Notre Partenaire</h2>
    <p>{{ingredientCle.partenaire}}</p>
    <p>{{ingredientCle.partenaireDescription|raw}}</p>
    <br>
    <a href="">Commander</a>
   

</div>
{% endblock %}