<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Cookin'Trip!{% endblock %}</title>
    {% block stylesheets %}{{encore_entry_link_tags("app")}}{% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ path("home") }}">Cookin'Trip</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path("communaute") }}">Rejoignez la Communauté</a>
                </li>

                <li class="nav-item">
                    {% if not is_granted("IS_AUTHENTICATED_FULLY") %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("app_register") }}">Inscription</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("app_login") }}">Connexion</a>
                    </li>
                    {% endif %}

                    {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                    <a class="nav-link" href="{{ path("app_logout") }}">Déconnexion</a>
                        {% if is_granted("ROLE_ADMIN") %}
                            <li class="nav-item active">
                                <a class="nav-link" href="{{ path('user_list') }}">Liste des abonnés</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="{{ path('recipe_show') }}">Liste des recettes</a>
                            </li>
                            {% else %}
                            <li class="nav-item active">
                                <a class="nav-link" href="{{ path("user") }}">Espace Abonné</a>
                            </li>
                            {% endif %}
                    {% endif %}
                </li>



            </ul>
            <form class="form-inline my-2 my-lg-0" method="POST" action="">
                <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    {% for type, messages in app.flashes %}
    <div class="bg-{{ type }}">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </div>
    {% endfor %}


    {% block body %}

    {% endblock %}

    <footer>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Conditions Générales de Vente</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Politique de Confidentialité</a>
                    </li>
                </ul>
            </div>
        </nav>
    </footer>
    {% block javascripts %}{{encore_entry_script_tags("app")}}{% endblock %}
</body>

</html>